@import '../../../card-common.less';
@import '../block-common.less';

.container {
  .block-container(550px);
}

.hp {
  .card-container(95%);

  .hp-body-curr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hp-body {
    .center();
    flex-direction: column;
  }

  hr {
    color: rgba(0, 0, 0, 0.25);
    width: 90%;
  }
}

.block {
  width: 100%;
  position: relative !important;
}

.box(@width, @height) {
  .center();
  width: @width;
  height: @height;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header {
  .card-header();
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.bottom {
  display: flex;
}

.box {
  .box(300px, 85px);
  font-size: xxx-large;
}

.death-saves {
  .row {
    display: flex;

    .col {
      display: flex;
    }
  }
}

.small {
  width: 75px;
  height: 50px;
  font-size: x-large;
}

.square {
  .box(100px, 100px);
  margin: 15px;
}

.pillar {
  .box(50px, 125px);
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 15px 0;
}

.mat-mdc-button-disabled {
  mat-icon {
    color: var(--mdc-checkbox-disabled-selected-icon-color) !important;
  }
}

.damage {
  color: var(--bad);
}

.heal {
  color: var(--good);
}
