<mat-card class="list-block" [class.mobile]="isMobile">
    <div class="header">
      <span>{{header}}</span>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="body scrollbar">
      <ng-container *ngIf="items.length <= 0; else list">
        <div class="empty">
          <mat-icon>assignment_late</mat-icon>
          Empty
        </div>
      </ng-container>
      <ng-template #list>
        <div class="list" cdkDropList (cdkDropListDropped)="onDrop($event)">
          <div class="list-container" *ngFor="let item of items; index as index" cdkDrag>
            <ng-container *ngComponentOutlet="getComponent(); inputs: {data: wrap(item), index: index, listId: listId, hero: hero}" />
          </div>
        </div>
      </ng-template>
    </div>
  </mat-card>
