@import '../../card-common.less';

.list-block {
  .card-container(250px);

  .header {
    .card-header();

    button {
      position: absolute;
      right: 20px;
    }

    mat-icon {
      color: white !important;
    }
  }

  .body {
    .center();
    flex-direction: column;

    .list {
      .center();
      margin-top: 10px;
      margin-bottom: 5px;
      flex-direction: column;
      width: 100%;
    }

    .buttons {
      .center();
      position: absolute;
      width: 90%;
      gap: 15px;

      button {
        width: 60%;
      }

      bottom: 20px;
    }

    .empty {
      .center();
      height: 100px;
      color: rgba(0, 0, 0, 0.4) !important;
      font-size: x-large;

      mat-icon {
        transform: scale(1.2);
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.4) !important;
      }
    }
  }
}

.list-data {
  width: 100%;
}
  