@import '../combat-block.component.less';

.weapons {
  .card-container(unset);

  .body {
    .center();
    flex-direction: column;
    margin-bottom: 15px;
    overflow: visible;

    .inventory-body {
      margin: 5px 0;
  
      .skill-box {
        background-color: var(--white);
        width: 90%;
        height: 40px;
        border-radius: 5px;
        background-color: var(--white);
        margin: 5px 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: larger;

        span {
          padding: 0 15px;
        }
      }
    }
  }
}

:host ::ng-deep .weapon-item {
  width: 100%;
  .center();
}
