@import '../editable-dialog-common.less';

.value {
  font-weight: bold;
  font-size: xxx-large;
  width: 48px;
  text-align: center;
}

.plus {
  margin-left: 15px;
}

.minus {
  margin-right: 15px;
}
