@import '../../card-common.less';

.sheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: max-content;

  @media screen and (max-width: 480px) {
    width: 100vw;
    overflow: hidden;
  }

  .grid {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 20px;
    gap: 20px;

    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .block {
    overflow-x: visible;
    overflow-y: hidden;
    @media screen and (max-width: 480px) {
      overflow: visible;
    }
  }

  .block-container {
    height: calc(100% - 40px);
    position: relative;
    margin: 20px 0;
    .drag-handle {
      .center();
    }
  }

  .filler {
    align-self: flex-end;
  }

  .subtitles {
    display: flex;
    justify-content: space-between;
    font-size: larger;
  }

  hr {
    color: rgba(0, 0, 0, 0.25);
  }
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-spinner {
    transform: scale(1.5);
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.grid.cdk-drop-list-dragging .block-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-header {
  position: absolute;
  top: 0;

  width: 100%;
  height: 60px;
  border-radius: 5px;

  .drag-handle {
    display: none !important;
  }
}

.drag-header:hover {
  .drag-handle {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  
    position: absolute;
    top: 0;
    right: 0;
  
    cursor: move;

    .center();
    display: flex !important;
  
    mat-icon {
      color: white !important;
    }
  }
}

.mobile {
  width: 100vw !important;
  height: 100vh !important;
  position: relative;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  margin: 0;

  .block {
    overflow-x: visible;
    overflow-y: hidden;
    @media screen and (max-width: 480px) {
      overflow: hidden !important;
    }
  }

  .block-container {
    .center();
    align-items: flex-start;

    height: 98%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;

    ::ng-deep .block {
      width: 95%;
      height: 100%;;
    }

    ::ng-deep .container {
      width: 100%;
      height: 100%;
    }
  }
}