<ng-container *ngIf="loaded">
  <!-- <app-header [title]="hero.name"></app-header> -->
  <div class="sheet-container">

    <!-- <div class="subtitles">
      <p class="subtitle" *ngFor="let s of subtitles()">{{s}}</p>
    </div>
    <hr /> -->

    <div class="grid">
      <app-info-block [hero]="hero" class="block"></app-info-block>
      <app-stat-block [hero]="hero" class="block"></app-stat-block>
      <app-combat-block [hero]="hero" class="block"></app-combat-block>
      <app-inventory-block [hero]="hero"></app-inventory-block>
    </div>

    <div class="filler"></div>

  </div>
</ng-container>
