<ng-container *ngIf="loaded; else loading">
  <div class="sheet-container" [class.mobile]="isMobile">
    <ng-component *ngIf="isMobile; then mobile else desktop"/>
  </div>
</ng-container>

<ng-template #desktop>
  <div
    cdkDropList
    class="grid"
    (cdkDropListDropped)="onDrop($event)"
    cdkDropListOrientation="horizontal"
  >
    <div class="block-container">
      <app-info-block [hero]="hero" class="block" />
    </div>
    <div *ngFor="let block of blocks" class="block-container" cdkDrag>
      <ng-template *ngComponentOutlet="blockMap.get(block)!; inputs: {hero: hero}" />
      <div class="drag-header">
        <div cdkDragHandle class="drag-handle">
          <mat-icon>open_with</mat-icon>
        </div>
      </div>
    </div>
    <div class="block-container">
      <app-info-block [hero]="hero" class="block" />
    </div>
  </div>
</ng-template>

<ng-template #mobile>
  <div class="grid">
    <div class="block-container">
      <div *ngComponentOutlet="getActiveComponent(); inputs: {hero: hero}"></div>
    </div>
  </div>
  <div class="scroll">
    <div class="tab-group-container">
      <mat-tab-group
        class="tabs"
        (selectedIndexChange)="setActiveIndex($event)"
        [selectedIndex]="activeIndex"
        [disablePagination]="true"
      >
        <mat-tab [label]="'Info'" />
        <mat-tab *ngFor="let block of blocks; index as index" [label]="nameMap.get(block) ?? 'Error'" />
      </mat-tab-group>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner />
  </div>
</ng-template>
