@import '../list-dialog-common.less';

mat-radio-group {
  .center();
  width: 100%;
  justify-content: space-evenly;

  ::ng-deep .mdc-radio {
    display: flex !important;
  }
}

::ng-deep .mat-mdc-select-panel {
  scrollbar-width: none !important;
}
