@import '../../card-common.less';

.token-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .token-card {
    width: 400px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .token-card-header {
      .card-header();
    }

    .token-content {
      width: 80%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .token-input {
        width: 100%;
      }
    }
  }
}
