@import '../../../card-common.less';

.stat-card {
  .header {
    .card-header();
  }

  .body {
    .attributes {
      padding: 25px;

      .attribute {
        .center();


        .attribute-box {
          .center();
          flex-direction: column;
          width: 175px;
          height: 175px;
          border-radius: 5%;
          background-color: var(--white);
          margin: 10px 0;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

          hr {
            width: 50%;
            color: rgba(0, 0, 0, 0.25);
          }

          .stat-name {
            margin-top: 15px;
            font-size: x-large;
            flex-grow: 1;
          }

          .stat-value {
            font-size: x-large;
          }

          .stat-mod {
            margin-bottom: 35px;
            font-size: large;
          }
        }
      }
    }
  }
}

.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
