<mat-card class="container">
  <div class="header">
    Stats
  </div>
  <div class="body scrollbar">
    <div class="row">
      <div class="col1">
        <app-attribute-block [hero]="hero"></app-attribute-block>
      </div>
      <div class="col2">
        <app-skills-block [hero]="hero"></app-skills-block>
        <mat-card class="prof-bonus-card"
          appEditableNumber
          [hero]="hero"
          [field]="'proficiencyBonus'"
        >
          <span>Proficiency Bonus</span>
          <span class="positive">{{proficency()}}</span>
        </mat-card>
        <mat-card class="prof-bonus-card">
          <span>Inspiration</span>
          <mat-checkbox color="primary" [checked]="inspired()"></mat-checkbox>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
