@import '../../../card-common.less';

.info-card {
  .card-container(300px);
  @media screen and (max-width: 480px) {
    .card-container(@card-mobile-width);
  }


  .header {
    .card-header();

    button {
      position: absolute;
      left: 10px;

      mat-icon {
        color: var(--white) !important;
      }
    }

    button:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  .body {
    .center();
    flex-direction: column;

    .image {
      width: 200px;
      height: 200px;
      margin: 30px;
      border: 1px solid rgba(0, 0, 0, 0.5);

      img {
        width: 100%;
        height: 100%;
      }
    }

    hr {
      color: rgba(0, 0, 0, 0.25);
      width: 90%;
    }

    .info {
      .info-bit(space-between);

      span {
        padding: 0 15px;
      }
    }

    .languages {
      width: 90%;
      margin: 10px 0;

      .language-box:first-child {
        margin-top: 10px;
      }

      .language-box {
        .center();
        width: 90%;
        margin-bottom: 10px;

        .language {
          .info-bit(center);
        }
      }
    }
  }
}

.info-bit(@justify) {
  background-color: var(--white);
  width: 90%;
  height: 40px;
  border-radius: 5%;
  background-color: var(--white);
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  justify-content: @justify;
  align-items: center;

  font-size: larger;
}
