<mat-card class="container">
  <div class="header block-header">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    {{hero.name}}
  </div>
  <div class="body scrollbar" cdkScrollable>
    <div class="image-container">
      <div class="image">
        <img [src]="getImageString() | async" default="/assets/blank.png" alt="Character Image">
      </div>
    </div>
    <hr />
    <div class="info-container">
      <div class="info">
        <span>Level</span>
        <span>{{hero.level}}</span>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'class'"
      >
        <div class="info-row">
          <span>Class</span>
          <span>{{hero.class}}</span>
        </div>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'race'"
      >
        <div class="info-row">
          <span>Race</span>
          <span>{{hero.race}}</span>
        </div>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'background'"
      >
        <div class="info-row">
          <span>Background</span>
          <span>{{hero.background}}</span>
        </div>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'alignment'"
      >
        <div class="info-row">
          <span>Alignment</span>
          <span>{{hero.alignment}}</span>
        </div>
      </div>
    </div>
    <hr />
    <app-list-block
      [header]="'Languages'"
      [items]="languages"
      [type]="languageListType"
      [listId]="0"
      (updateItemList)="updateLanguages($event)"
    />
  </div>
</mat-card>
