<mat-card class="info-card">
  <div class="header">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    {{hero.name}}
  </div>
  <div class="body">
    <div class="image-container">
      <div class="image">
        <img [src]="getImageString() | async" alt="Character Image">
      </div>
    </div>
    <hr />
    <div class="info-container">
      <div class="info">
        <span>Level</span>
        <span>{{hero.level}}</span>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'class'"
      >
        <span>Class</span>
        <span>{{hero.class}}</span>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'race'"
      >
        <span>Race</span>
        <span>{{hero.race}}</span>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'background'"
      >
       <span>Background</span>
        <span>{{hero.background}}</span>
      </div>
      <div class="info"
        appEditableString
        [hero]="hero"
        [field]="'alignment'"
      >
        <span>Alignment</span>
        <span>{{hero.alignment}}</span>
      </div>
    </div>
    <hr />
    <mat-card class="languages">
      <div class="header">Languages</div>
      <div class="body">
        <div class="language-box" *ngFor="let language of hero.languages">
          <div class="language">
            {{language}}
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</mat-card>
