@import '../../../card-common.less';
@import '../block-common.less';

.header {
  button {
    position: absolute;
    left: 10px;

    mat-icon {
      color: var(--white) !important;
    }
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.body {
  .image-container {
    height: 240px;
    margin-top: 30px;
  }

  hr {
    color: rgba(0, 0, 0, 0.25);
    width: 90%;
  }

  .info-container {
    .center();
    width: 100%;
    flex-direction: column;
    position: relative;

    .info {
      .info-bit(space-between);

      .info-row {
        .center();
        width: 100%;
        justify-content: space-between;
      }

      span {
        padding: 0 15px;
      }
    }
  }

  .languages {
    width: 90%;
    margin: 10px 0;

    .body {
      overflow: visible;
    }

    .language-box:first-child {
      margin-top: 10px;
    }

    .language-box {
      .center();
      width: 90%;
      margin-bottom: 10px;

      .language {
        .info-bit(center);
      }
    }
  }
}


.info-bit(@justify) {
  background-color: var(--white);
  width: 90%;
  min-height: 40px;
  max-height: 40px;
  border-radius: 5px;
  background-color: var(--white);
  margin: 5px 0;
  box-shadow: @box-shadow;

  display: flex;
  justify-content: @justify;
  align-items: center;

  font-size: larger;
}
