@import '../../list-block.component.less';

.box {
  background-color: var(--white);
  width: 90%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--white);
  margin: 5px 0;
  box-shadow: @box-shadow;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: larger;

  span {
    padding: 0 15px;
  }

  .name {
    .center();
    justify-content: space-between;
    flex-grow: 2;
  }
}

.item-count {
  .center();
  justify-content: flex-end;

  .count {
    text-align: center;
    width: 25px;
  }
}

button {
  z-index: 1;
}

.ammunition-icon {
  padding-left: 10px;
  padding-right: 5px;
  margin: 0;
}

.overlay {
  position: absolute;
  width: 90%;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
