<div class="box">
  <div class="name">
    <span class="name">{{data.data.name}}</span>
    <button mat-icon-button *ngIf="hovering" (click)="openEditDialog()">
      <mat-icon class="edit">edit</mat-icon>
    </button>
  </div>
  <div class="item-count">
    <button mat-icon-button (click)="remove()">
      <mat-icon>remove</mat-icon>
    </button>
    <span class="count">{{data.data.count}}</span>
    <button mat-icon-button (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="overlay" (click)="openDialog()"></div>
</div>
