@import '../../list-block.component.less';

.box {
  position: relative;
  .center();
  width: 90%;
  margin-bottom: 5px;

  .item {
    .info-bit(center);

    span {
      text-align: center;
      width: 75%;
    }

    button {
      z-index: 1;
      transform: scale(0.8);
    }
  }
}

.overlay {
  position: absolute;
  width: 90%;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.info-bit(@justify) {
    background-color: var(--white);
    width: 90%;
    min-height: 40px;
    max-height: 40px;
    border-radius: 5px;
    background-color: var(--white);
    margin: 5px 0;
    box-shadow: @box-shadow;

    display: flex;
    justify-content: @justify;
    align-items: center;

    font-size: larger;
}

.delete {
  color: var(--bad) !important;
}

.edit {
  color: var(--good) !important;
}
