<div class="armor-init-speed" [class.mobile]="isMobile">
  <div class="si-container">
    <div class="initiative card">
      <mat-card>
        <div class="header">
          Initiative
        </div>
        <div class="initiative-body ais-body">
          <div class="box square" [ngClass]="valueStyle()">
            {{formatInit()}}
          </div>
        </div>
      </mat-card>
    </div>
    <div class="armor card">
      <mat-card>
        <div class="header">
          Armor Class
        </div>
        <div class="armor-body ais-body">
          <div class="box square"
            appEditableNumber
            [hero]="hero"
            [field]="'ac'"
          >
            {{hero.ac}}
          </div>
        </div>
      </mat-card>
    </div>
    <div class="speed card">
      <mat-card>
        <div class="header">
          Speed
        </div>
        <div class="speed-body ais-body">
          <div class="box square" appEditableNumber
            [hero]="hero"
            [field]="'speed'"
            [step]="5"
          >
            {{hero.speed}}
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
