<!-- File Input -->
<input
  #fileInput
   type="file"
   accept="image/jpg,image/png"
   (change)="selectImage($event)"
   style="display: none"
>

<ng-container [ngSwitch]="state">
  <ng-container *ngSwitchCase="'select'">
    <ng-container *ngTemplateOutlet="select" />
  </ng-container>
  <ng-container *ngSwitchCase="'upload'">
    <ng-container *ngTemplateOutlet="upload" />
  </ng-container>
  <ng-container *ngSwitchCase="'success'">
    <ng-container *ngTemplateOutlet="success" />
  </ng-container>
</ng-container>

<ng-template #select>
  <button mat-raised-button (click)="fileInput.click()" color="primary">
    Select
  </button>
</ng-template>

<ng-template #upload>
  <div class="image-row">
    <button mat-icon-button (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
    <span>{{currentFile?.name}}</span>
    <button mat-raised-button color="primary" (click)="uploadImage()">
      Upload
    </button>
  </div>
</ng-template>

<ng-template #success>
  <div class="image-row">
    <mat-icon>check_circle</mat-icon>
    <span>{{currentFile?.name}}</span>
  </div>
</ng-template>

