.card-header() {
  padding: 0;
  width: 100%;
  height: 60px;
  font-size: x-large;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
