<mat-card class="container">
  <div class="header">{{header}}</div>
  <div class="body">
    <div class="content">
      <form class="form" [formGroup]="group">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input class="num" matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input class="num" matInput formControlName="amount" required #amountInput />
        </mat-form-field>
        <mat-form-field class="textarea" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput class="scrollbar"></textarea>
        </mat-form-field>
        <mat-checkbox></mat-checkbox>
      </form>
    </div>
    <div class="buttons">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
    </div>
  </div>
</mat-card>
