@import '../list-dialog-common.less';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-form-field {
    width: 350px;
  }

  @height: 200px;

  .textarea {
    height: @height;

    textarea {
      font-size: normal !important;
      height: calc(@height - 60px);
    }
  }
}

.content {
  width: 100%;
}

.container {
  max-width: 400px;
  text-wrap: wrap;
}

.list {
  width: 95%;

  div {
    padding-top: 10px;
    width: 100%;
    word-break: break-all;
  }
}

.is-ammunition {
  .center();
}

.ammunition-type {
  .center();

  ::ng-deep .mdc-radio {
    display: flex !important;
  }
}