<mat-card class="attributes" [class.mobile]="isMobile">
  <div class="attributes-header">Attributes</div>
  <div class="attributes-body">
    <div class="attribute" *ngFor="let attribute of attributes">
      <div
        class="attribute-box"
        appEditableNumber
        [hero]="hero"
        [eGetter]="getAttrGetterFunction(attribute)"
        [eSetter]="getAttributeSetterFunction(attribute)"
      >
        <span class="stat-name" [class.proficient]="isProficient(attribute)">
          <b>{{attribute.toUpperCase()}}</b>
        </span>
        <span class="stat-value">
          {{getAttributeValue(attribute)}}
        </span>
        <hr />
        <span class="stat-mod" [ngClass]="valueStyle(attribute)">
          {{getAttributeMod(attribute)}}
        </span>
      </div>
    </div>
  </div>
</mat-card>
