/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

html {
  scrollbar-width: none !important;
}

body {
  top: 0;
  position: absolute;
  margin: 0;
  font-family: "Dosis" !important;
  background-color: var(--white);
  scrollbar-width: none !important;
}

.scrollbar {
  scrollbar-width: none;
}

:root {
  --bg-color: #1D1E2C;
  --primary: #118878;
  --secondary: #59656F;
  --tertiary: #1F0812;
  --white: #F6F4F4;

  --good: #00994d;
  --bad: #cc0000;
  --mid: #998a00;
}

html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-raised-button {
  color: white !important;
}

mat-icon {
  color: var(--primary) !important;
}

.mat-mdc-dialog-container {
  overflow: hidden;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 0;
  height: 5px;
  margin-bottom: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::ng-deep .cdk-overlay-pane{
  @media screen and (max-width: 480px) {
    max-width: none !important;
  }
}
