@import '../combat-block.component.less';

.hp {
  .card-container(unset);

  .hp-body-curr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hp-body {
    .center();
    flex-direction: column;
  }

  hr {
    color: rgba(0, 0, 0, 0.25);
    width: 90%;
  }

  .temp-hp {
    margin-top: 10px;
    height: 30px;
    font-size: small;
    font-weight: normal;

    mat-icon {
      color:rgba(0, 0, 0, 0.6) !important;
    }
  }
}

.bottom {
  .center();
  width: 100%;;
  height: 100%;
  padding-bottom: 15px;

  .bottom-container {
    .center();
    width: 33.333%;
    height: max-content;
  }

  .hit-dice {
    .box(90%, 80px);
    flex-direction: column;

    hr {
      width: 75%;
    }
  }

  .max-hp {
    .box(100px, 50px);
    font-size: x-large;
  }

  .death-saves {
    .box(90%, 90%);
    flex-direction: column;

    .row {
      .center();


      mat-icon {
        margin-left: initial !important;
        margin-right: 5px !important;
      }
    }
  }
}


.damage {
  margin-right: 10px;
  color: var(--bad) !important;
  mat-icon {
    color: var(--bad) !important;
  }
}

.heal {
  margin-left: 10px;
  color: var(--good) !important;
  mat-icon {
    color: var(--good) !important;
  }
}

.fine {
  color: var(--good);
}

.bloodied {
  color: var(--mid);
}

.mortally-wounded {
  color: var(--bad);
}

.mobile {
  width: 100% !important;
  margin: 10px 0 !important;

  .hp-body {
    width: 100%;

    .hp-body-curr {
      width: 95%;

      .hp-box {
        width: 65%;

        .hp-curr {
          width: 100%;
        }
      }
    }
  }


  .death-saves {
    ::ng-deep .mdc-checkbox {
      padding: 10px 7px;
    }
  }
}
