@import '../../../card-common.less';

.container {
  .card-container(80dvw);
  min-width: 250px;
  max-width: 400px;
  margin: 0;
  max-height: 90dvh;

  .header {
    .card-header();
  }

  .body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .content {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      font-size: x-large;
      text-align: center;
      overflow-y: scroll;
      overflow-x: hidden;

      .description {
        text-align: left;
        margin: 15px;
      }
    }

    .empty {
      margin-bottom: 0;
    }

    .buttons {
      .center();
      width: 90%;
      gap: 15px;
      margin: 25px 0;

      button {
        width: 60%;
      }
    }
  }
}

.form {
  max-height: 85dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  width: 90%;

  @media screen and (max-width: 480px) {
    max-height: 65dvh;
  }

  mat-form-field {
    width: 100%;
  }

  @height: 200px;

  .textarea {
    height: @height;

    textarea {
      font-size: normal !important;
      height: calc(@height - 60px);
    }
  }
}

.column {
  flex-direction: column;
}

.content {
  width: 100%;
}
