@import '../../../card-common.less';

.container {
  .card-container(unset);
  min-width: 250px;
  margin: 0;
  max-height: 75vh !important;

  .header {
    .card-header();
  }

  .body {
    .center();
    flex-direction: column;

    .content {
      .center();
      font-size: x-large;
      text-align: center;
      margin: 25px;
    }

    .empty {
      margin-bottom: 0;
    }

    .buttons {
      .center();
      width: 90%;
      gap: 15px;
      margin-bottom: 25px;

      button {
        width: 60%;
      }
    }
  }
}